{
  "openapi": "3.1.0",
  "info": {
    "title": "Agenda Inteligente — agenda-service",
    "description": "Agendamento operado por conversa: slots, agendamento sem double-booking\n(garantido no banco), lembretes via canal de WhatsApp.\n\n## Como usar (o fluxo completo em 4 chamadas)\n\n1. `GET /services` — descubra o `service_id` do que o cliente quer;\n2. `GET /slots?service_id=…&from=…&to=…` — horários realmente livres;\n3. `POST /appointments` — agende com nome + telefone do cliente;\n4. Deu 409 `SLOT_INDISPONIVEL`? As 3 alternativas já vêm no erro — ofereça-as\n   e repita o POST com o horário escolhido.\n\n## Convenções (valem em toda rota)\n\n- **Erros**: sempre `{code, message, hint, retryable}` — o `hint` é escrito\n  para o agente agir; quando possível a saída já vem no payload.\n- **Tempo**: entrada e saída em ISO 8601 **com offset** (America/Sao_Paulo na\n  borda); datetime sem fuso é recusado (`DATA_SEM_FUSO`). Toda saída de\n  horário traz `label_humano` pronto para falar com o cliente.\n- **Idempotência**: escritas aceitam o header `Idempotency-Key` — repetir a\n  chamada com a mesma chave devolve a resposta original, sem duplicar efeito.\n- **Ações irreversíveis** (cancelar) disparadas por agente exigem confirmação\n  humana: a primeira chamada devolve 409 `CONFIRMACAO_NECESSARIA` com prévia e\n  `confirmation_token`; repita com o token após o OK (expira em 5 min).\n- **Dinheiro** trafega como string decimal (`\"80.00\"`); **listagens** paginam\n  por `limit`/`cursor`.\n\n## Autenticação e escopos\n\n`Authorization: Bearer <token>` — `agk_…` (credencial de agente, revogável),\n`ats_…` (sessão de atendimento, cunhada pelo canal) ou JWT do Supabase\n(humanos/UI). `X-Agent-Key` carrega o mesmo `agk_…` num header próprio, que é\ncomo a UI fala hoje; sai quando o Supabase Auth entrar. Toda credencial vive\nem `agent_credentials`: chave estática em variável de ambiente não autentica.\n\n**Autenticar não concede tudo.** Cada rota declara o escopo que exige, e é o\nmesmo cobrado em execução:\n\n| Escopo | Cobre |\n|---|---|\n| `agenda:read` | catálogo, horários livres, grade, o **próprio** compromisso |\n| `agenda:write` | agendar, remarcar, confirmar, fila — para **um** cliente |\n| `agenda:cancel` | cancelar um compromisso |\n| `agenda:operacao` | o dia inteiro, todos os compromissos, a fila completa, faltas |\n| `agenda:admin` | serviços, recursos, grade e bloqueios |\n| `canal:admin` | driver, credenciais do canal, templates, opt-outs |\n| `credenciais:admin` | emitir e revogar credenciais — nunca num preset de agente |\n\nUma credencial de **atendimento** (o bot do canal) carrega ainda um\n`titular`: ela alcança só o compromisso do cliente daquela conversa, e\ncompromisso de terceiro responde 404. Consulte `GET /credenciais/eu` para\ndescobrir a própria autoridade antes de tentar uma ação.\n",
    "version": "0.4.0"
  },
  "servers": [
    {
      "url": "https://cpdf-agenda.better-knowledge.com",
      "description": "Protótipo do programa"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "saúde"
        ],
        "summary": "Liveness/readiness do serviço",
        "description": "Sem autenticação. `banco: fora` indica degradação — a API responde, o Postgres não.",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Health Health Get"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/services": {
      "get": {
        "tags": [
          "catálogo"
        ],
        "summary": "Lista os serviços da organização",
        "description": "**Escopo:** `agenda:read`\n\nUse antes de consultar slots ou agendar: o service_id daqui é obrigatório nas demais chamadas. Paginação por limit/cursor.",
        "operationId": "listar_services_services_get",
        "parameters": [
          {
            "name": "ativo",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "default": true,
              "title": "Ativo"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pagina_ServiceOut_"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "CURSOR_INVALIDO": {
                    "summary": "Cursor de paginação não reconhecido",
                    "value": {
                      "code": "CURSOR_INVALIDO",
                      "message": "O cursor de paginação não foi reconhecido.",
                      "hint": "Use exatamente o next_cursor devolvido pela página anterior.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:read"
      },
      "post": {
        "tags": [
          "catálogo"
        ],
        "summary": "Cadastra um serviço",
        "description": "**Escopo:** `agenda:admin`\n\nNome, duração em minutos, preço (string decimal, BRL) e buffers. Alterar a duração depois não muda agendamentos já existentes (RF-01). Aceita Idempotency-Key.",
        "operationId": "criar_service_services_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceIn"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ]
      }
    },
    "/services/{service_id}": {
      "patch": {
        "tags": [
          "catálogo"
        ],
        "summary": "Altera um serviço (parcial)",
        "description": "**Escopo:** `agenda:admin`\n\nSó os campos enviados mudam. Alterar a duração NÃO altera agendamentos já existentes (RF-01) — só afeta slots e agendamentos futuros. resource_ids, quando enviado, substitui os vínculos atuais.",
        "operationId": "alterar_service_services__service_id__patch",
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Service Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin"
      },
      "delete": {
        "tags": [
          "catálogo"
        ],
        "summary": "Desativa um serviço (soft delete)",
        "description": "**Escopo:** `agenda:admin`\n\nEntidade de negócio não é apagada: o serviço sai do catálogo e da oferta de slots, mas agendamentos e histórico existentes ficam intactos. Reative com PATCH {ativo: true}. Idempotente.",
        "operationId": "desativar_service_services__service_id__delete",
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Service Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin"
      }
    },
    "/resources": {
      "get": {
        "tags": [
          "catálogo"
        ],
        "summary": "Lista profissionais, salas e equipamentos",
        "description": "**Escopo:** `agenda:read`\n\nAtivos por padrão. `ativo=false` lista os desativados — é como se acha o id de um recurso para reativar, sem o qual desativar seria caminho só de ida.",
        "operationId": "listar_resources_resources_get",
        "parameters": [
          {
            "name": "ativo",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "null (sem o parâmetro não vale) traz todos",
              "default": true,
              "title": "Ativo"
            },
            "description": "null (sem o parâmetro não vale) traz todos"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pagina_ResourceOut_"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:read"
      },
      "post": {
        "tags": [
          "catálogo"
        ],
        "summary": "Cadastra um recurso (profissional, sala, equipamento)",
        "description": "**Escopo:** `agenda:admin`\n\nO recurso é o que não pode ser agendado duas vezes no mesmo horário. Aceita Idempotency-Key.",
        "operationId": "criar_resource_resources_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceIn"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ]
      }
    },
    "/resources/{resource_id}": {
      "patch": {
        "tags": [
          "catálogo"
        ],
        "summary": "Altera um recurso (parcial)",
        "description": "**Escopo:** `agenda:admin`\n\nSó os campos enviados mudam. Renomear não afeta agendamentos: eles apontam para o id. Reative um recurso desativado com `{ativo: true}`.",
        "operationId": "alterar_resource_resources__resource_id__patch",
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Resource Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin"
      },
      "delete": {
        "tags": [
          "catálogo"
        ],
        "summary": "Desativa um recurso (soft delete)",
        "description": "**Escopo:** `agenda:admin`\n\nComo em serviços: o recurso sai do catálogo e da oferta de slots, mas os agendamentos e o histórico dele continuam existindo — apagar de verdade deixaria compromissos apontando para o vazio. A grade semanal e os bloqueios permanecem, e voltam a valer se o recurso for reativado com PATCH `{ativo: true}`. Idempotente.",
        "operationId": "desativar_resource_resources__resource_id__delete",
        "parameters": [
          {
            "name": "resource_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Resource Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin"
      }
    },
    "/availability/rules": {
      "post": {
        "tags": [
          "grade"
        ],
        "summary": "Adiciona janela de trabalho semanal a um recurso",
        "description": "**Escopo:** `agenda:admin`\n\ndia_semana: 0=segunda … 6=domingo. Horas em hora local America/Sao_Paulo (RF-02). Aceita Idempotency-Key.",
        "operationId": "criar_rule_availability_rules_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleIn"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ]
      },
      "get": {
        "tags": [
          "grade"
        ],
        "summary": "Grade semanal da organização",
        "operationId": "listar_rules_availability_rules_get",
        "parameters": [
          {
            "name": "resource_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Só a grade deste recurso",
              "title": "Resource Id"
            },
            "description": "Só a grade deste recurso"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RuleOut"
                  },
                  "title": "Response Listar Rules Availability Rules Get"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:read",
        "description": "**Escopo:** `agenda:read`"
      },
      "put": {
        "tags": [
          "grade"
        ],
        "summary": "Define a semana inteira de um recurso (substitui a grade)",
        "description": "**Escopo:** `agenda:admin`\n\nDeclarativo: descreva a semana **como ela deve ficar** e o servidor faz a diferença numa transação só. Substitui todas as janelas do recurso — `janelas: []` limpa a grade. Prefira isto a remendar janela a janela: listar, remover uma, criar duas e esquecer nenhuma é onde um agente erra. Aceita Idempotency-Key.",
        "operationId": "definir_grade_availability_rules_put",
        "parameters": [
          {
            "name": "resource_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Recurso cuja semana está sendo definida",
              "title": "Resource Id"
            },
            "description": "Recurso cuja semana está sendo definida"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GradeSemanaIn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GradeSemanaOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "PERIODO_INVALIDO": {
                    "summary": "Fim antes do início",
                    "value": {
                      "code": "PERIODO_INVALIDO",
                      "message": "O fim do bloqueio precisa ser depois do início.",
                      "hint": "Inverta os valores ou confira o offset de fuso.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin"
      }
    },
    "/availability/rules/{rule_id}": {
      "patch": {
        "tags": [
          "grade"
        ],
        "summary": "Altera uma janela da grade semanal",
        "description": "**Escopo:** `agenda:admin`\n\nSó os campos enviados mudam. A alteração vale para os slots futuros na hora.",
        "operationId": "alterar_rule_availability_rules__rule_id__patch",
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Rule Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RulePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "PERIODO_INVALIDO": {
                    "summary": "Fim antes do início",
                    "value": {
                      "code": "PERIODO_INVALIDO",
                      "message": "O fim do bloqueio precisa ser depois do início.",
                      "hint": "Inverta os valores ou confira o offset de fuso.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin"
      },
      "delete": {
        "tags": [
          "grade"
        ],
        "summary": "Remove uma janela da grade semanal",
        "description": "**Escopo:** `agenda:admin`\n\nExclusão real: grade é configuração, não histórico. O motor de slots deixa de oferecer os horários desta janela imediatamente; agendamentos já feitos não mudam. Idempotente: remover de novo devolve o mesmo resultado.",
        "operationId": "remover_rule_availability_rules__rule_id__delete",
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Rule Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemocaoRegraOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin"
      }
    },
    "/availability/blocks/{block_id}": {
      "delete": {
        "tags": [
          "grade"
        ],
        "summary": "Remove um bloqueio pontual",
        "description": "**Escopo:** `agenda:admin`\n\nExclusão real: os horários do período voltam a ser ofertados na hora. Idempotente.",
        "operationId": "remover_block_availability_blocks__block_id__delete",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Block Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemocaoBloqueioOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin"
      }
    },
    "/availability/blocks": {
      "get": {
        "tags": [
          "grade"
        ],
        "summary": "Bloqueios pontuais vigentes ou futuros",
        "description": "**Escopo:** `agenda:operacao`\n\nLista bloqueios cujo fim ainda não passou. Filtre por recurso se quiser. Exige `agenda:operacao`: o motivo do bloqueio é nota interna do prestador ('cirurgia', 'férias'), não informação de atendimento.",
        "operationId": "listar_blocks_availability_blocks_get",
        "parameters": [
          {
            "name": "resource_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Resource Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlockOut"
                  },
                  "title": "Response Listar Blocks Availability Blocks Get"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:operacao"
      },
      "post": {
        "tags": [
          "grade"
        ],
        "summary": "Bloqueia um período pontual (feriado, almoço, férias)",
        "description": "**Escopo:** `agenda:admin`\n\nInício e fim em ISO 8601 com offset. O motivo aparece na agenda do dia. Aceita Idempotency-Key.",
        "operationId": "criar_block_availability_blocks_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockIn"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "PERIODO_INVALIDO": {
                    "summary": "Fim antes do início",
                    "value": {
                      "code": "PERIODO_INVALIDO",
                      "message": "O fim do bloqueio precisa ser depois do início.",
                      "hint": "Inverta os valores ou confira o offset de fuso.",
                      "retryable": false
                    }
                  },
                  "DATA_SEM_FUSO": {
                    "summary": "Horário sem offset de fuso",
                    "value": {
                      "code": "DATA_SEM_FUSO",
                      "message": "'inicio' veio sem offset de fuso horário.",
                      "hint": "Envie ISO 8601 com offset explícito, ex.: 2026-08-27T15:30:00-03:00.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:admin",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ]
      }
    },
    "/slots": {
      "get": {
        "tags": [
          "slots"
        ],
        "summary": "Horários realmente livres para um serviço",
        "description": "**Escopo:** `agenda:read`\n\nMotor de disponibilidade (RF-02): desconta duração, buffers, bloqueios e agendamentos existentes. Chame SEMPRE antes de tentar agendar e sempre que o cliente mencionar um dia ou período ('quinta de tarde'). Converta a expressão em um intervalo ISO 8601 com offset (America/Sao_Paulo) antes de chamar. Retorno vazio: amplie o intervalo e ofereça as 3 alternativas mais próximas — nunca responda apenas 'indisponível'. Não use para ver compromissos já marcados (use GET /agenda/day).",
        "operationId": "consultar_slots_slots_get",
        "parameters": [
          {
            "name": "service_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Service Id"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Início do intervalo, ISO 8601 com offset",
              "title": "From"
            },
            "description": "Início do intervalo, ISO 8601 com offset"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Fim do intervalo, ISO 8601 com offset",
              "title": "To"
            },
            "description": "Fim do intervalo, ISO 8601 com offset"
          },
          {
            "name": "resource_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opcional: recurso específico",
              "title": "Resource Id"
            },
            "description": "Opcional: recurso específico"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SlotOut"
                  },
                  "title": "Response Consultar Slots Slots Get"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "DATA_SEM_FUSO": {
                    "summary": "Horário sem offset de fuso",
                    "value": {
                      "code": "DATA_SEM_FUSO",
                      "message": "'inicio' veio sem offset de fuso horário.",
                      "hint": "Envie ISO 8601 com offset explícito, ex.: 2026-08-27T15:30:00-03:00.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:read"
      }
    },
    "/appointments": {
      "post": {
        "tags": [
          "agendamentos"
        ],
        "summary": "Agenda um horário",
        "description": "**Escopo:** `agenda:write`\n\nExige serviço + horário + cliente identificado (nome e telefone) — RF-03. Sem resource_id, usa o primeiro recurso do serviço com o slot livre. Horário ocupado responde 409 SLOT_INDISPONIVEL com as 3 alternativas mais próximas já no payload. Aceita Idempotency-Key (obrigatório para agentes).",
        "operationId": "agendar_appointments_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentIn"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer agk_…` (credencial de agente), `ats_…` (sessão de atendimento) ou o JWT do Supabase.",
                      "retryable": false
                    }
                  },
                  "SESSAO_INVALIDA": {
                    "summary": "Token de sessão de atendimento inválido ou expirado",
                    "value": {
                      "code": "SESSAO_INVALIDA",
                      "message": "Token de sessão de atendimento inválido: expirado",
                      "hint": "O token é cunhado pelo canal a cada mensagem do cliente e vale 30 minutos. Aguarde a próxima mensagem em vez de reaproveitar o antigo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  },
                  "TITULAR_DIVERGENTE": {
                    "summary": "A sessão de atendimento fala por outro cliente",
                    "value": {
                      "code": "TITULAR_DIVERGENTE",
                      "message": "Esta sessão de atendimento não fala pelo cliente informado.",
                      "hint": "O token de sessão é cunhado pelo canal para o cliente que escreveu. Omita `cliente_telefone` ou use o endereço da conversa.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflito — o hint diz como resolver",
            "content": {
              "application/json": {
                "examples": {
                  "SLOT_INDISPONIVEL": {
                    "summary": "Horário ocupado — alternativas já no payload",
                    "value": {
                      "code": "SLOT_INDISPONIVEL",
                      "message": "O horário pedido já está ocupado ou fora da grade.",
                      "hint": "Ofereça estas alternativas ao cliente: quinta, 27 de agosto, 15h30 · quinta, 27 de agosto, 16h30 · sexta, 28 de agosto, 9h.",
                      "retryable": false,
                      "alternativas": [
                        {
                          "inicio": "2026-08-27T15:30:00-03:00",
                          "label_humano": "quinta, 27 de agosto, 15h30"
                        },
                        {
                          "inicio": "2026-08-27T16:30:00-03:00",
                          "label_humano": "quinta, 27 de agosto, 16h30"
                        },
                        {
                          "inicio": "2026-08-28T09:00:00-03:00",
                          "label_humano": "sexta, 28 de agosto, 9h"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "DATA_SEM_FUSO": {
                    "summary": "Horário sem offset de fuso",
                    "value": {
                      "code": "DATA_SEM_FUSO",
                      "message": "'inicio' veio sem offset de fuso horário.",
                      "hint": "Envie ISO 8601 com offset explícito, ex.: 2026-08-27T15:30:00-03:00.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write",
        "parameters": [
[...]
