{
  "openapi": "3.1.0",
  "info": {
    "title": "Agenda Inteligente — agenda-service",
    "description": "Agendamento operado por conversa: slots, agendamento sem double-booking\n(garantido no banco), lembretes via canal de WhatsApp.\n\n## Como usar (o fluxo completo em 4 chamadas)\n\n1. `GET /services` — descubra o `service_id` do que o cliente quer;\n2. `GET /slots?service_id=…&from=…&to=…` — horários realmente livres;\n3. `POST /appointments` — agende com nome + telefone do cliente;\n4. Deu 409 `SLOT_INDISPONIVEL`? As 3 alternativas já vêm no erro — ofereça-as\n   e repita o POST com o horário escolhido.\n\n## Convenções (valem em toda rota)\n\n- **Erros**: sempre `{code, message, hint, retryable}` — o `hint` é escrito\n  para o agente agir; quando possível a saída já vem no payload.\n- **Tempo**: entrada e saída em ISO 8601 **com offset** (America/Sao_Paulo na\n  borda); datetime sem fuso é recusado (`DATA_SEM_FUSO`). Toda saída de\n  horário traz `label_humano` pronto para falar com o cliente.\n- **Idempotência**: escritas aceitam o header `Idempotency-Key` — repetir a\n  chamada com a mesma chave devolve a resposta original, sem duplicar efeito.\n- **Ações irreversíveis** (cancelar) disparadas por agente exigem confirmação\n  humana: a primeira chamada devolve 409 `CONFIRMACAO_NECESSARIA` com prévia e\n  `confirmation_token`; repita com o token após o OK (expira em 5 min).\n- **Dinheiro** trafega como string decimal (`\"80.00\"`); **listagens** paginam\n  por `limit`/`cursor`.\n\n## Autenticação e escopos\n\n`Authorization: Bearer <jwt do Supabase>` (humanos/UI) ou `X-Agent-Key`\n(agentes — fase 1 do conector). Escopos: `agenda:read` (consultar),\n`agenda:write` (criar/alterar), `agenda:cancel` (cancelar). Cada rota declara\no escopo que exige.\n",
    "version": "0.2.0"
  },
  "servers": [
    {
      "url": "https://cpdf-agenda.better-knowledge.com",
      "description": "Protótipo do programa"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "saúde"
        ],
        "summary": "Liveness/readiness do serviço",
        "description": "Sem autenticação. `banco: fora` indica degradação — a API responde, o Postgres não.",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "additionalProperties": true,
                  "type": "object",
                  "title": "Response Health Health Get"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/services": {
      "get": {
        "tags": [
          "catálogo"
        ],
        "summary": "Lista os serviços da organização",
        "description": "**Escopo:** `agenda:read`\n\nUse antes de consultar slots ou agendar: o service_id daqui é obrigatório nas demais chamadas. Paginação por limit/cursor.",
        "operationId": "listar_services_services_get",
        "parameters": [
          {
            "name": "ativo",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "default": true,
              "title": "Ativo"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "default": 20,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pagina_ServiceOut_"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "CURSOR_INVALIDO": {
                    "summary": "Cursor de paginação não reconhecido",
                    "value": {
                      "code": "CURSOR_INVALIDO",
                      "message": "O cursor de paginação não foi reconhecido.",
                      "hint": "Use exatamente o next_cursor devolvido pela página anterior.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:read"
      },
      "post": {
        "tags": [
          "catálogo"
        ],
        "summary": "Cadastra um serviço",
        "description": "**Escopo:** `agenda:write`\n\nNome, duração em minutos, preço (string decimal, BRL) e buffers. Alterar a duração depois não muda agendamentos já existentes (RF-01). Aceita Idempotency-Key.",
        "operationId": "criar_service_services_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceIn"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ]
      }
    },
    "/services/{service_id}": {
      "patch": {
        "tags": [
          "catálogo"
        ],
        "summary": "Altera um serviço (parcial)",
        "description": "**Escopo:** `agenda:write`\n\nSó os campos enviados mudam. Alterar a duração NÃO altera agendamentos já existentes (RF-01) — só afeta slots e agendamentos futuros. resource_ids, quando enviado, substitui os vínculos atuais.",
        "operationId": "alterar_service_services__service_id__patch",
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Service Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write"
      },
      "delete": {
        "tags": [
          "catálogo"
        ],
        "summary": "Desativa um serviço (soft delete)",
        "description": "**Escopo:** `agenda:write`\n\nEntidade de negócio não é apagada: o serviço sai do catálogo e da oferta de slots, mas agendamentos e histórico existentes ficam intactos. Reative com PATCH {ativo: true}. Idempotente.",
        "operationId": "desativar_service_services__service_id__delete",
        "parameters": [
          {
            "name": "service_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Service Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write"
      }
    },
    "/resources": {
      "get": {
        "tags": [
          "catálogo"
        ],
        "summary": "Lista profissionais, salas e equipamentos ativos",
        "operationId": "listar_resources_resources_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pagina_ResourceOut_"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:read",
        "description": "**Escopo:** `agenda:read`"
      },
      "post": {
        "tags": [
          "catálogo"
        ],
        "summary": "Cadastra um recurso (profissional, sala, equipamento)",
        "description": "**Escopo:** `agenda:write`\n\nO recurso é o que não pode ser agendado duas vezes no mesmo horário. Aceita Idempotency-Key.",
        "operationId": "criar_resource_resources_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourceIn"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResourceOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ]
      }
    },
    "/availability/rules": {
      "post": {
        "tags": [
          "grade"
        ],
        "summary": "Adiciona janela de trabalho semanal a um recurso",
        "description": "**Escopo:** `agenda:write`\n\ndia_semana: 0=segunda … 6=domingo. Horas em hora local America/Sao_Paulo (RF-02). Aceita Idempotency-Key.",
        "operationId": "criar_rule_availability_rules_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RuleIn"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ]
      },
      "get": {
        "tags": [
          "grade"
        ],
        "summary": "Grade semanal da organização",
        "operationId": "listar_rules_availability_rules_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RuleOut"
                  },
                  "title": "Response Listar Rules Availability Rules Get"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:read",
        "description": "**Escopo:** `agenda:read`"
      }
    },
    "/availability/rules/{rule_id}": {
      "patch": {
        "tags": [
          "grade"
        ],
        "summary": "Altera uma janela da grade semanal",
        "description": "**Escopo:** `agenda:write`\n\nSó os campos enviados mudam. A alteração vale para os slots futuros na hora.",
        "operationId": "alterar_rule_availability_rules__rule_id__patch",
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Rule Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RulePatch"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RuleOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "PERIODO_INVALIDO": {
                    "summary": "Fim antes do início",
                    "value": {
                      "code": "PERIODO_INVALIDO",
                      "message": "O fim do bloqueio precisa ser depois do início.",
                      "hint": "Inverta os valores ou confira o offset de fuso.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write"
      },
      "delete": {
        "tags": [
          "grade"
        ],
        "summary": "Remove uma janela da grade semanal",
        "description": "**Escopo:** `agenda:write`\n\nExclusão real: grade é configuração, não histórico. O motor de slots deixa de oferecer os horários desta janela imediatamente; agendamentos já feitos não mudam. Idempotente: remover de novo devolve o mesmo resultado.",
        "operationId": "remover_rule_availability_rules__rule_id__delete",
        "parameters": [
          {
            "name": "rule_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Rule Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemocaoRegraOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write"
      }
    },
    "/availability/blocks/{block_id}": {
      "delete": {
        "tags": [
          "grade"
        ],
        "summary": "Remove um bloqueio pontual",
        "description": "**Escopo:** `agenda:write`\n\nExclusão real: os horários do período voltam a ser ofertados na hora. Idempotente.",
        "operationId": "remover_block_availability_blocks__block_id__delete",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Block Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemocaoBloqueioOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write"
      }
    },
    "/availability/blocks": {
      "get": {
        "tags": [
          "grade"
        ],
        "summary": "Bloqueios pontuais vigentes ou futuros",
        "description": "**Escopo:** `agenda:read`\n\nLista bloqueios cujo fim ainda não passou. Filtre por recurso se quiser.",
        "operationId": "listar_blocks_availability_blocks_get",
        "parameters": [
          {
            "name": "resource_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Resource Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlockOut"
                  },
                  "title": "Response Listar Blocks Availability Blocks Get"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:read"
      },
      "post": {
        "tags": [
          "grade"
        ],
        "summary": "Bloqueia um período pontual (feriado, almoço, férias)",
        "description": "**Escopo:** `agenda:write`\n\nInício e fim em ISO 8601 com offset. O motivo aparece na agenda do dia. Aceita Idempotency-Key.",
        "operationId": "criar_block_availability_blocks_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockIn"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "PERIODO_INVALIDO": {
                    "summary": "Fim antes do início",
                    "value": {
                      "code": "PERIODO_INVALIDO",
                      "message": "O fim do bloqueio precisa ser depois do início.",
                      "hint": "Inverta os valores ou confira o offset de fuso.",
                      "retryable": false
                    }
                  },
                  "DATA_SEM_FUSO": {
                    "summary": "Horário sem offset de fuso",
                    "value": {
                      "code": "DATA_SEM_FUSO",
                      "message": "'inicio' veio sem offset de fuso horário.",
                      "hint": "Envie ISO 8601 com offset explícito, ex.: 2026-08-27T15:30:00-03:00.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ]
      }
    },
    "/slots": {
      "get": {
        "tags": [
          "slots"
        ],
        "summary": "Horários realmente livres para um serviço",
        "description": "**Escopo:** `agenda:read`\n\nMotor de disponibilidade (RF-02): desconta duração, buffers, bloqueios e agendamentos existentes. Chame SEMPRE antes de tentar agendar e sempre que o cliente mencionar um dia ou período ('quinta de tarde'). Converta a expressão em um intervalo ISO 8601 com offset (America/Sao_Paulo) antes de chamar. Retorno vazio: amplie o intervalo e ofereça as 3 alternativas mais próximas — nunca responda apenas 'indisponível'. Não use para ver compromissos já marcados (use GET /agenda/day).",
        "operationId": "consultar_slots_slots_get",
        "parameters": [
          {
            "name": "service_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Service Id"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Início do intervalo, ISO 8601 com offset",
              "title": "From"
            },
            "description": "Início do intervalo, ISO 8601 com offset"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "description": "Fim do intervalo, ISO 8601 com offset",
              "title": "To"
            },
            "description": "Fim do intervalo, ISO 8601 com offset"
          },
          {
            "name": "resource_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Opcional: recurso específico",
              "title": "Resource Id"
            },
            "description": "Opcional: recurso específico"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "default": 20,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SlotOut"
                  },
                  "title": "Response Consultar Slots Slots Get"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "DATA_SEM_FUSO": {
                    "summary": "Horário sem offset de fuso",
                    "value": {
                      "code": "DATA_SEM_FUSO",
                      "message": "'inicio' veio sem offset de fuso horário.",
                      "hint": "Envie ISO 8601 com offset explícito, ex.: 2026-08-27T15:30:00-03:00.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:read"
      }
    },
    "/appointments": {
      "post": {
        "tags": [
          "agendamentos"
        ],
        "summary": "Agenda um horário",
        "description": "**Escopo:** `agenda:write`\n\nExige serviço + horário + cliente identificado (nome e telefone) — RF-03. Sem resource_id, usa o primeiro recurso do serviço com o slot livre. Horário ocupado responde 409 SLOT_INDISPONIVEL com as 3 alternativas mais próximas já no payload. Aceita Idempotency-Key (obrigatório para agentes).",
        "operationId": "agendar_appointments_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentIn"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflito — o hint diz como resolver",
            "content": {
              "application/json": {
                "examples": {
                  "SLOT_INDISPONIVEL": {
                    "summary": "Horário ocupado — alternativas já no payload",
                    "value": {
                      "code": "SLOT_INDISPONIVEL",
                      "message": "O horário pedido já está ocupado ou fora da grade.",
                      "hint": "Ofereça estas alternativas ao cliente: quinta, 27 de agosto, 15h30 · quinta, 27 de agosto, 16h30 · sexta, 28 de agosto, 9h.",
                      "retryable": false,
                      "alternativas": [
                        {
                          "inicio": "2026-08-27T15:30:00-03:00",
                          "label_humano": "quinta, 27 de agosto, 15h30"
                        },
                        {
                          "inicio": "2026-08-27T16:30:00-03:00",
                          "label_humano": "quinta, 27 de agosto, 16h30"
                        },
                        {
                          "inicio": "2026-08-28T09:00:00-03:00",
                          "label_humano": "sexta, 28 de agosto, 9h"
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "DATA_SEM_FUSO": {
                    "summary": "Horário sem offset de fuso",
                    "value": {
                      "code": "DATA_SEM_FUSO",
                      "message": "'inicio' veio sem offset de fuso horário.",
                      "hint": "Envie ISO 8601 com offset explícito, ex.: 2026-08-27T15:30:00-03:00.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ]
      },
      "get": {
        "tags": [
          "agendamentos"
        ],
        "summary": "Lista compromissos por data e recurso",
        "description": "**Escopo:** `agenda:read`\n\nTodos os status, na ordem do dia. Para checar disponibilidade use GET /slots.",
        "operationId": "listar_appointments_get",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "title": "Date"
            }
          },
          {
            "name": "resource",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "uuid"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Resource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppointmentOut"
                  },
                  "title": "Response Listar Appointments Get"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:read"
      }
    },
    "/appointments/{appointment_id}/reschedule": {
      "post": {
        "tags": [
          "agendamentos"
        ],
        "summary": "Reagenda de forma atômica",
        "description": "**Escopo:** `agenda:write`\n\nOu o novo horário é reservado e o antigo liberado na mesma transação, ou nada muda (RF-06). Conflito responde 409 com alternativas. O compromisso volta ao status 'agendado' — a confirmação anterior não vale para o novo horário.",
        "operationId": "reagendar_endpoint_appointments__appointment_id__reschedule_post",
        "parameters": [
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Appointment Id"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RescheduleIn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflito — o hint diz como resolver",
            "content": {
              "application/json": {
                "examples": {
                  "SLOT_INDISPONIVEL": {
                    "summary": "Horário ocupado — alternativas já no payload",
                    "value": {
                      "code": "SLOT_INDISPONIVEL",
                      "message": "O horário pedido já está ocupado ou fora da grade.",
                      "hint": "Ofereça estas alternativas ao cliente: quinta, 27 de agosto, 15h30 · quinta, 27 de agosto, 16h30 · sexta, 28 de agosto, 9h.",
                      "retryable": false,
                      "alternativas": [
                        {
                          "inicio": "2026-08-27T15:30:00-03:00",
                          "label_humano": "quinta, 27 de agosto, 15h30"
                        },
                        {
                          "inicio": "2026-08-27T16:30:00-03:00",
                          "label_humano": "quinta, 27 de agosto, 16h30"
                        },
                        {
                          "inicio": "2026-08-28T09:00:00-03:00",
                          "label_humano": "sexta, 28 de agosto, 9h"
                        }
                      ]
                    }
                  },
                  "STATUS_INCOMPATIVEL": {
                    "summary": "O status atual não permite a ação",
                    "value": {
                      "code": "STATUS_INCOMPATIVEL",
                      "message": "Compromisso está 'cancelado' — não dá para reagendar.",
                      "hint": "Crie um novo agendamento com POST /appointments.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "400": {
            "description": "Pedido malformado",
            "content": {
              "application/json": {
                "examples": {
                  "DATA_SEM_FUSO": {
                    "summary": "Horário sem offset de fuso",
                    "value": {
                      "code": "DATA_SEM_FUSO",
                      "message": "'inicio' veio sem offset de fuso horário.",
                      "hint": "Envie ISO 8601 com offset explícito, ex.: 2026-08-27T15:30:00-03:00.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write"
      }
    },
    "/appointments/{appointment_id}/cancel": {
      "post": {
        "tags": [
          "agendamentos"
        ],
        "summary": "Cancela e libera o slot imediatamente",
        "description": "**Escopo:** `agenda:cancel`\n\nExige escopo agenda:cancel. Disparado por agente, exige confirmação humana: a primeira chamada (sem confirmation_token) devolve 409 CONFIRMACAO_NECESSARIA com a prévia e o token; repita com o token após o humano aprovar (expira em 5 min). O slot volta para a grade na hora — a fila de espera (RF-14) será notificada quando a etapa 7 ligar o job.",
        "operationId": "cancelar_appointments__appointment_id__cancel_post",
        "parameters": [
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Appointment Id"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Repetir a chamada com a mesma chave devolve a resposta original sem duplicar efeito. Obrigatório para agentes; use um UUID novo por intenção."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelIn"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflito — o hint diz como resolver",
            "content": {
              "application/json": {
                "examples": {
                  "CONFIRMACAO_NECESSARIA": {
                    "summary": "Ação irreversível: confirme com o humano e repita com o token",
                    "value": {
                      "code": "CONFIRMACAO_NECESSARIA",
                      "message": "Cancelamento é irreversível e exige confirmação humana.",
                      "hint": "Mostre a prévia ao humano e, com o OK, repita esta chamada com o confirmation_token do payload.",
                      "retryable": false,
                      "previa": {
                        "compromisso": "0b6ff65e-…",
                        "cliente": "Paula Andrade",
                        "horario": "quinta, 27 de agosto, 15h30"
                      },
                      "confirmation_token": "cancel.0b6ff65e….1756312200.f3ab…"
                    }
                  },
                  "CONFIRMACAO_INVALIDA": {
                    "summary": "confirmation_token não vale para esta ação",
                    "value": {
                      "code": "CONFIRMACAO_INVALIDA",
                      "message": "confirmation_token inválido para esta ação.",
                      "hint": "Refaça a chamada sem token para receber uma nova prévia e um token novo.",
                      "retryable": false
                    }
                  },
                  "CONFIRMACAO_EXPIRADA": {
                    "summary": "confirmation_token passou dos 5 minutos",
                    "value": {
                      "code": "CONFIRMACAO_EXPIRADA",
                      "message": "O confirmation_token expirou (validade de 5 minutos).",
                      "hint": "Refaça a chamada sem token, confirme com o humano e use o token novo.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:cancel"
      }
    },
    "/appointments/{appointment_id}/confirm": {
      "post": {
        "tags": [
          "agendamentos"
        ],
        "summary": "Marca o compromisso como confirmado pelo cliente",
        "description": "**Escopo:** `agenda:write`\n\nUse quando o cliente responder 'sim' à confirmação. Só compromissos 'agendado' aceitam.",
        "operationId": "confirmar_appointments__appointment_id__confirm_post",
        "parameters": [
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Appointment Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "409": {
            "description": "Conflito — o hint diz como resolver",
            "content": {
              "application/json": {
                "examples": {
                  "STATUS_INCOMPATIVEL": {
                    "summary": "O status atual não permite a ação",
                    "value": {
                      "code": "STATUS_INCOMPATIVEL",
                      "message": "Compromisso está 'cancelado' — não dá para reagendar.",
                      "hint": "Crie um novo agendamento com POST /appointments.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          }
        },
        "x-escopo-requerido": "agenda:write"
      }
    },
    "/appointments/{appointment_id}/no-show": {
      "post": {
        "tags": [
          "agendamentos"
        ],
        "summary": "Registra falta do cliente (alimenta o histórico de risco — IA-03)",
        "operationId": "no_show_appointments__appointment_id__no_show_post",
        "parameters": [
          {
            "name": "appointment_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Appointment Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentOut"
                }
              }
            }
          },
          "401": {
            "description": "Não autenticado",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_AUTENTICADO": {
                    "summary": "Credencial ausente ou inválida",
                    "value": {
                      "code": "NAO_AUTENTICADO",
                      "message": "Credencial ausente ou inválida: nenhum header de credencial presente",
                      "hint": "Envie `Authorization: Bearer <jwt do Supabase>` ou `X-Agent-Key`.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "403": {
            "description": "Escopo insuficiente",
            "content": {
              "application/json": {
                "examples": {
                  "ESCOPO_INSUFICIENTE": {
                    "summary": "A credencial não tem o escopo exigido",
                    "value": {
                      "code": "ESCOPO_INSUFICIENTE",
                      "message": "A credencial não tem o escopo 'agenda:cancel'.",
                      "hint": "Peça uma credencial com o escopo necessário — cancelamento exige agenda:cancel.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "422": {
            "description": "Validação falhou",
            "content": {
              "application/json": {
                "examples": {
                  "PAYLOAD_INVALIDO": {
                    "summary": "Corpo ou parâmetros não passaram na validação",
                    "value": {
                      "code": "PAYLOAD_INVALIDO",
                      "message": "Payload inválido: body.cliente_telefone: String should have at least 8 characters",
                      "hint": "Corrija os campos apontados e repita a chamada com os mesmos dados.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
          },
          "404": {
            "description": "Não encontrado nesta organização",
            "content": {
              "application/json": {
                "examples": {
                  "NAO_ENCONTRADO": {
                    "summary": "Id não existe nesta organização",
                    "value": {
                      "code": "NAO_ENCONTRADO",
                      "message": "Serviço 6f1e…9c02 não existe nesta organização.",
                      "hint": "Confira o id — liste o recurso correspondente para obter ids válidos.",
                      "retryable": false
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/ErroOut"
                }
              }
            }
[...]
